.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.category_list {
	order: 1;
	flex-grow: 15;
	display: flex;
	flex-direction: column;
}

.category {
	flex-grow: 1;
}

.window {
	order: 2;
	flex-grow: 70;
}

.login {
	order: 3;
	flex-grow: 15;
}
